<h1>ABOUT PAGE</h1>

<p> Be able to log in and view your different “Compost Profiles” </p>
<p> View status of current composts</p>
<p> Input what food you add the the compost</p>
<p> Calculate the ratios of different chemicals</p>
<p> Notify the user when to turn the compost</p>
<p> Give a time estimate on how long till the compost will be done</p>
<p> Add or delete compost profiles</p>
<p> For each profile:</p>
<p> View temp</p>
<p> Add more items</p>
<p> Create the compost profile</p>
<p> Enter the size of the composter</p>
<p> Enter the name or location of the composter</p>
