<!DOCTYPE html>
  <body style="background-image: url(/assets/environment.jpg); background-repeat: 0; background-size: cover" >
    <div class="row">
      <div class="col-md-12" style="color: brown; font-size: 400%; font-family: fantasy">
          About The Composting Calculator
      </div>
    </div>
      <br>

    <div class="row">
    <!-- <div class="col-md-6" name= "composterCol"> -->
      <div class="panel panel-default" style="background-color: #101010 ">
        <!-- <div class="panel-heading" style="background: #101010; color: gray; font-family: Helvetica, sans-serif" >About Description</div> -->
          <div class="panel-body" style="text-align: middle; color: gray; font: medium">
            <div class="row">
                <p> Composting is simply the process of turning organic matter
                  that is ready for disposal into something beneficial.
                  Basically, organic materials like vegetable matter, eggshells,
                  coffee grinds, tea bags (anything that is not animal-based) is
                  placed in a suitable container or pile to decompose. Over time,
                  these materials turn into a rich form of soil that is
                  absolutely chock-full of vitamins and can help you grow
                  amazing plants in any space. Amazingly, compost can also have
                  the power to ward off harmful pests. </p>

                  <br>

                <p> By composting, you can also help to reduce the amount of
                  waste that is being directed into our landfills. This means a
                  reduction of concentrated, toxic leachates and methane gas
                  that is being released into the atmosphere, which equates to a
                  decrease in overall pollution.  Composting also cuts down on
                  the usage of chemical fertilizers, which are harmful to our
                  water supply. In addition, composting can save money not only
                  for a household, but it can also help to balance a city's 
                  and eventually a country's - budget. For example, simply by
                  composting, a household can trim down its budget by growing
                  chemical-free fruits and vegetables, while eliminating the
                  need to spend money on chemical fertilizers. Less garbage
                  being sent to landfill also means a reduction in waste
                  management costs for your city, and eventually for the entire
                  country!</p>

                <p> Let's Start Composting!</p>

              </div>
                <br>
                <a href="https://sites.google.com/site/muddsustainability/" class="btn btn-default">Go to ESW/MOSS</a>
                <br>
                  <br>
                <img src=/assets/logocropped.png style="vertical-align: middle">
          </div>
        </div>
    </div>
