<h1>HISTORY PAGE</h1>

<p> Needs to be linked to the database and pull each previously created composter.
  How we do this....still a work in progress </p>


  <p> Are users just suppose to see the data entered and results of previous composters
    or can they click on them for more info? How do we want this to look? </p>
