<h1>HISTORY PAGE</h1>

<p> Needs to be linked to the database and pull each previously created composter.
  How we do this....still a work in progress </p>


  <p> Are users just suppose to see the data entered and results of previous composters
    or can they click on them for more info? How do we want this to look? </p>

    <p> Combine View and History to make one page. Want to view History on a
      per compose basis. Waiting for Drew to finish his piece so that a view/
     history button can be added to each created compost. Want to show: contents
     added, time when flipped, ratios at certain times, etc. </p>
