     <!DOCTYPE html>
       <body style="background-image: url(/assets/environment.jpg); background-repeat: 0; background-size: cover" >
         <div class="row">
           <div class="col-md-12" style="color: white; font-size: 400%; font-family: fantasy">
               Compost History
           </div>
         <!-- </div>
         <br>
         <div class="row">
         <div class="col-md-6" name= "composterCol">
           <div class="panel panel-default" style="background-color: #101010 ">
             <div class="panel-heading" style="background: #101010; color: gray; font-family: Helvetica, sans-serif" >Current Composter Information</div>
               <div class="panel-body" style="text-align: left; color: gray; font: medium">
                 <div class="row">
                   <div class="col-md-7">
                     <p> Needs to be linked to the database and pull each previously created composter.
                       How we do this....still a work in progress </p>


                       <p> Are users just suppose to see the data entered and results of previous composters
                         or can they click on them for more info? How do we want this to look? </p>

                         <p> Combine View and History to make one page. Want to view History on a
                           per compose basis. Waiting for Drew to finish his piece so that a view/
                          history button can be added to each created compost. Want to show: contents
                          added, time when flipped, ratios at certain times, etc. </p>

                          <a href="http://google.com" class="btn btn-default">Go to Google</a>
                   </div>
                   <div class="col-md-5">
                     <br>
                     <img src=/assets/logocropped.png style="vertical-align: middle">
                   </div>
                 </div>
               </div>
             </div>
         </div>
         <div class="col-md-6">
           <div class="dropdown">
             <button class="btn btn-primary dropdown-toggle" type="button" id="addItems" data-toggle="dropdown" style="width: 100%">Add Item
             <span class="caret"></span></button>
               <ul class="dropdown-menu" role="menu" aria-labelledby="addItems" style="width: 100%">
                  <li>
                   <label>Type:</label>
                   <input type="text" class="form-control" id="usr">
                 </li>
                 <li>
                   <label>Amount:</label>
                   <input type="text" class="form-control" id="usr">
                 </li>
                 <li>
                   <button type="button" class="btn btn-primary" style="width: 100%"> Add </button>
                 </li>
               </ul>
           </div>
           <br>
           <div class="dropdown" style="width: 50">
             <button class="btn btn-primary dropdown-toggle" type="button" id="addItems" data-toggle="dropdown" style="width: 100%">Calculate Moisture Content
             <span class="caret"></span></button>
               <ul class="dropdown-menu" role="menu" aria-labelledby="moistureContent" style="width: 100%">
                  <li>
                   <label>Dry Weight (g): </label>
                   <input type="text" class="form-control" id="usr">
                 </li>
                 <li>
                   <label>Wet Weight (g):</label>
                   <input type="text" class="form-control" id="usr">
                 </li>
                 <li>
                   <button type="button" class="btn btn-primary" style="width: 100%"> Calculate </button>
                 </li>
               </ul>
           </div>
           <br>
           <button type="button" class="btn btn-primary" style="width: 100%"> Empty Composter</button>
           <br>
           <br>
           <button type="button" class="btn btn-primary" style="width: 100%"> Delete Composter</button>
           <br>
           <br>
           <button type="button" class="btn btn-primary" style="width: 100%"> Save Changes</button>
         </div>
       </div>
       </body> -->
