<h1>VIEW PAGE</h1>

<p> Am I doing this right or is this suppose to be more of a
  button under the history page or something? Send help plz </p>

  <p> This is where graphs and charts of previous composters would go </p>
