<div class="row">
      <div class="col-md-12" style="color: white; font-size: 400%; font-family: Bebas Neue">
        <br>
        <b>
          New Composter
        </b>
      </div>
    </div>

<%= render 'form', composter: @composter %>
