  <div class="col-md-12" style="color: white; font-size: 350%; font-family: fantasy">
        <b>
          New Item
        </b>
</div>
<br>
<br>
<br>
<br>
<%= render 'form', item: @item %>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
